<mat-card>
    <mat-card-title>
        Ajouter nouveau utilisateur
    </mat-card-title>
    <mat-card-content>
        <form id="formData" #user="ngForm"  (ngSubmit)="registerUser(user.value)">
                <input matInput placeholder="firstname" type="text" ngModel name="firstname"><br>
                <input matInput placeholder="lastname" type="text" ngModel name="lastname"><br>
                <input matInput placeholder="email" type="email" ngModel name="email"><br>
                <input matInput placeholder="password" type="password" ngModel name="password"><br>
                <input type="submit" value="Register" mat-button>
            </form>
    </mat-card-content>
</mat-card>